# Core Libraries
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Machine Learning & Forecasting
scikit-learn==1.4.2
xgboost==2.0.3
prophet==1.1.5
statsmodels==0.14.1

# Utilities
joblib==1.4.2
